{% extends 'layouts/base.html.twig' %}

{% block title %}Hello TwigController!{% endblock %}

{% block home %}
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">seconda pagina...<br>
            DOVE CI SONO STESSI WIDGETS CON PARAMETRI DIVERSI</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                {{ renderWidget('widget1') }}
            </div>

            <div class="col">
                {{ renderWidget('widget2', ['prima esecuzione']) }}
            </div>

            <div class="col ">
               {{ renderWidget('widget2', ['seconda esecuzione']) }}
            </div>
        </div>
    </div>
{% endblock %}
