{% extends 'base.html.twig' %}

{% block content %}
<!---<div class="col-3 m-2 bg-primary h-25 text-center " >
        <p class="verticalme text-center">1

        </p>
</div>
--->




<!---      BEGIN: Content--->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- Dashboard Ecommerce Starts -->
<section id="dashboard-ecommerce">
    <div class="row match-height">
        <!-- Medal Card -->
        {% include 'menu/primo/medal.html.twig' %}
        <!--/ Medal Card -->

        <!-- Statistics Card -->
        {% include 'menu/primo/statistic.html.twig' %}
        <!--/ Statistics Card -->
    </div>

    <div class="row match-height">
        <div class="col-lg-4 col-12">
            <div class="row match-height">
                <!-- Bar Chart - Orders -->
                {% include 'menu/primo/barchart.html.twig' %}
                <!--/ Bar Chart - Orders -->

                <!-- Line Chart - Profit -->
                {% include 'menu/primo/linechart.html.twig' %}
                <!--/ Line Chart - Profit -->

                <!-- Earnings Card -->
                {% include 'menu/primo/earningsCard.html.twig' %}
                <!--/ Earnings Card -->
            </div>
        </div>
        <!-- Revenue Report Card -->
        {% include 'menu/primo/revenue.html.twig' %}
        <!--/ Revenue Report Card -->
    </div>


</section>
<!-- Dashboard Ecommerce ends -->

</div>
</div>
</div>
<!-- END: Content-->
{% endblock content %}