{% extends 'base.html.twig' %}

{% block title %}homeController{% endblock %}

{% block leftMenu %}

    <main class="main">


        <aside class="sidebar">
            <nav class="nav">
                <ul>
                    {% for menu in menuu %}
                    <li><a href="#">{{ menu }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>

    </main>




{% endblock leftMenu %}